.Streamer{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #353637;
    margin-bottom: 25px;
    padding-bottom: 25px;
}


.Streamer span{
    float: left;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    padding-top: 12px;
    margin-right: 10px;
}

.Streamer img{
    max-width: 46px;
    border-radius: 50%;
    margin-right: 15px;
    width: 100%;
    overflow: hidden;
}

.Streamer h6{
    display: inline;
    font-size: 14px;
    color: #ec6090;
    font-weight: 400;
}

.Streamer h6 svg{
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-right: 3px;
}

.Streamer a{
    float: right;
}


