.GameDownloaded{
    border-bottom: 1px solid #27292a;
    margin-bottom: 28px;
    padding-bottom: 28px;
    position: relative;
}

.GameDownloaded img {
    float: left;
    margin-right: 15px;
}

.GameDownloaded h4 {
    font-size: 15px;
    padding-top: 7px;
    color: white;
}

.GameDownloaded h6 {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.GameDownloaded span {
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
}

.GameDownloaded a {
    color: #CCC;
    text-decoration: none !important;
}

.GameDownloaded .download svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-23px);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #27292a;
    border-radius: 50%;
}