.RelatedGame .item {
    position: relative;
    border-bottom: 1px solid #27292a;
    padding-bottom: 52px;
    margin-bottom: 30px;
}

.RelatedGame .item img {
    float: left;
    margin-right: 15px;
}

.RelatedGame .item h4 {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
    padding-top: 15px;
}
.RelatedGame .item span {
    color: #666;
    font-size: 14px;
    display: block;
}

.RelatedGame ul {
    position: absolute;
    right: 0;
    top: 15px;
}

.RelatedGame ul li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3px;
}
.templatemo-item {
    max-width: 80px;
    border-radius: 23px;
}