.cyborg-navbar{
    min-height: 100px;
}

form .secondary-btn{
    margin-top: 6px;
}

form .button a {
    font-size: 14px;
    border-radius: calc(var(--border-radius-primary)/4);
    padding: 8px 20px;
}

.btn-outline-da{
    background-color: var(--color-primary);
    color: var(--color-light);
    border-radius: var(--border-radius-primary);
}

.btn-outline-da  .btn-text{
    color: var(--color-light) ;
}
.btn-outline-da:hover, .btn-text:hover {
    background-color: var(--color-light);
    color: var(--color-primary);
}