.section-wrapper{
    background-color: var(--color-dark);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
    margin-top: var(--margin-primary);
    color: var(--color-light);
}

@media screen and (max-width: 992px) {
    .section-wrapper{
        padding:calc(var(--padding-primary)/ 2) ;
        border-radius:calc(var(--border-radius-primary)/2) ;
        margin-top:calc(var(--margin-primary) / 2 )

    }
}